$black: #000
$white: #fff
$main: #ad7e2c

*
    margin: 0
    padding: 0
    box-sizing: border-box

h1, h2,h3, h4, h5, p
    margin: 0
    padding: 0

html, body
    font-family: "Quicksand", sans serif
body
    overflow-x: hidden
    padding-bottom: 100rem
a
    text-decoration: none

ul
    list-style-type: none
    margin: 0
    padding: 0

// general styling
.container
    width: 1200px
    max-width: 90%
    margin: 0 auto
.title
    font-size: 4rem
    color: $main
    text-align: center
    margin-bottom: 2rem

//sidebar
#sidebar
    background: $black
    position: fixed
    height: 100vh
    width: 50vw
    z-index: 2000
    color: white
    display: flex
    justify-content: center
    align-items: center
    transform: translateX(-100%)
    transition: all ease-in-out 300ms
    &.active
        transform: translateX(0%)
    .close
        color: white
        font-size: 3rem
        position: absolute
        top: 20px
        right: 40px
        cursor: pointer
    ul li a
        color: white
        font-size: 1.4rem
        margin-bottom: 1rem
        display: inline-block

// main header
.main-header .container
    padding: 2rem 0rem
    display: flex
    align-items: center
    justify-content: space-between
    h1 a
        color: white
        font-size: 3rem
    nav a
        color: green
        margin-left: 0.8rem
        font:
            size: 1.3rem
            weight: 900
        color: $white
    .menu
        font-size: 2.4rem
        cursor: pointer
        display: none

#landing
    background:
        image: url("../img/landing.jpg")
        size: cover
        position: center
    color: $white
    height: 100vh
    text-align: center
    position: relative

    #content
        width: 800px
        max-width: 90%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        h1
            font-size: 4rem
            line-height: 1
            margin-bottom: 1rem
        p
            font-size: 1.8rem
            margin-bottom: 1rem
        a
            display: inline-block
            background: $main
            padding: 1rem 4rem
            color: $white
            font-size: 1.4rem
            border-radius: 50px

// welcome
#welcome
    padding-top: 2rem
    .content-wrapper
        min-height: 100vh
        display: grid
        grid-template-columns: 1fr 2fr
        grid-auto-rows: minmax(400px auto)
        grid-gap: 30px
        .cover
            background:
                image: url("../img/rooms/room-1.jpg")
                size: cover
                position: center
        .content
            font-size: 1.2rem
            line-height: 1.2
            p
                margin-bottom: 1rem
        .icons-wrapper
            font-size: 2rem
            margin-top: 1rem
            i
                margin-right: 0.4rem
                transition: all ease-in-out 300ms
                &:hover
                    transform: scale(1.2)
                    cursor: pointer

#services
    padding: 2rem
    .container
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px
        .icon-unit
            display: flex
            flex-direction: column
            align-items: center
            p
                font:
                    size: 1.4rem
                    weight: 900
                color: $main
        img
            width: 150px
            margin-bottom: 0.8rem

// rooms

#rooms .container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 20px
    .room-unit
        text-align: center
        h2
            font-size: 2rem
            margin-bottom: 0.8rem
        p
            font-size: 1.2rem
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 0.5rem
            span
                font:
                    size: 2rem
                    weight: 500
                display: inline-block
                margin: 0rem 0.8rem
        a
            font-weight: 900
            color: $main
        &:nth-child(1) .cover
            background-image: url("../img/rooms/room-1.jpg")
        &:nth-child(2) .cover
            background-image: url("../img/rooms/room-2.jpg")
        &:nth-child(3) .cover
            background-image: url("../img/rooms/room-3.jpg")
        &:nth-child(4) .cover
            background-image: url("../img/rooms/room-4.jpg")
        &:nth-child(5) .cover
            background-image: url("../img/rooms/room-5.jpg")
        &:nth-child(6) .cover
            background-image: url("../img/rooms/room-6.jpg")
        &:nth-child(7) .cover
            background-image: url("../img/rooms/room-7.jpg")
        &:nth-child(8) .cover
            background-image: url("../img/rooms/room-8.jpg")
        .cover
            padding-top: 100%
            background:
                image: url("../img/rooms/room-1.jpg")
                size: cover
                position: center
            margin-bottom: 1rem

#landing, #services, #welcome, #rooms
    display: none
#stats
    background: $main
    .container
        width: 80%
        color: white
        display: flex
        padding: 2rem 0rem
        justify-content: space-between
        .unit
            text-align: center
            h2
                font-size: 3rem
                margin-bottom: .8rem
            p
                font-weight: 900

// media queries
@media(max-width: 960px)
    #rooms .container
        grid-template-columns: repeat(2, 1fr)
    #services .container
        grid-template-columns: repeat(2, 1fr)

    #welcome .content-wrapper
        grid-template-columns: repeat(2, 1fr)

@media(max-width: 800px)

    #welcome .content-wrapper
        display: block
        .cover
            height: 500px
            margin-bottom: 2rem

    #landing
        #content
            h1
                font-size: 2.5rem
            p
                font-size: 1.2rem
            a
                font-size: 1.2rem
                padding: 0.8rem 2rem

@media(max-width: 500px)
    #rooms .container
        grid-template-columns: 1fr
        .room-unit
            width: 80%
            margin: 0 auto
            .content h2
                font-size: 1.8rem
                margin-bottom: 0.4rem
    #services .container
        display: block
        .icon-unit
            margin-bottom: 2rem
    .title
        font-size: 3rem
    #welcome .content-wrapper
        .cover
            height: 350px
        .content p
            font-size: 1rem
            margin-bottom: 0.8rem
